# Введение в Pandas

In [1]:
# Импорт модуля pandas и присвоение ему имени pd
# Дома: в терминале (Terminal-New Terminal) нужно набрать: pip install pandas 

import pandas as pd

In [75]:
# Пример. Чтение датафрейма 'countries.txt'

countries = pd.read_csv('countries.txt', sep='\t')
countries

            Страна       Столица  Площадь  Население
0           Россия        Москва   17.130     146.17
1              США     Вашингтон    9.830     333.00
2            Китай         Пекин    9.600    1411.78
3           Канада        Оттава    9.980      36.29
4         Германия        Берлин    0.360      82.18
5   Великобритания        Лондон    0.240      65.34
6           Турция        Анкара    0.780      78.74
7          Нигерия        Абуджа    0.920     187.00
8        Австралия      Канберра    7.690      24.24
9       Люксембург    Люксембург    0.002       0.58
10        Бразилия      Бразилиа    8.510     206.08
11       Аргентина  Буэнос-Айрес    2.770      43.85
12        Монголия    Улан-Батор    1.560       3.08

In [80]:
# Пример. Чтение датафрейма 'continents.txt'

continents = pd.read_csv('continents.txt', sep='\t')
continents

            Страна         Континент
0           Россия            Европа
1              США  Северная Америка
2            Китай              Азия
3           Канада  Северная Америка
4         Германия            Европа
5   Великобритания            Европа
6    Турция Европа               NaN
7          Нигерия              Азия
8        Австралия           Океания
9       Люксембург            Европа
10        Бразилия     Южная Америка
11       Аргентина     Южная Америка
12        Монголия              Азия

In [51]:
# Задание.
# Прочитать файл 'items.csv',
# присвоить его содержимое переменной items
# и просмотреть содержимое.

items = pd.read_csv('items.csv', sep=';', decimal=',')
items

                                Товар  Белки   Жиры  Углеводы  Калорийность
0    Брынза (сыр из коровьего молока)   17.9  20,10       0.0         260.0
1         Йогурт натуральный. 2% жир.    4.3   2,00       6.2          60.0
2                   Кефир 3,2% жирный    2.8   3,20       4.1          56.0
3                   Кефир 1% нежирный    2.8   1,00       4.0          40.0
4                         Молоко 3,2%    2.9   3,20       4.7          59.0
..                                ...    ...    ...       ...           ...
243        Пирожное трубочка с кремом    1.7  25,20      50.9         454.0
244                Пирожное воздушное    3.1  16,30      68.5         419.0
245                           Пряники    5.8   6,50      71.6         364.0
246                      Торт ассорти    4.7  15,00      36.0         294.0
247                        Торт Прага    4.6  26,50      65.1         517.0

[248 rows x 5 columns]

In [70]:
# Задание.
# Прочитать файл 'groups.csv',
# присвоить его содержимое переменной groups
# и просмотреть ее содержимое.

groups = pd.read_csv('groups.csv', sep=';')
groups

                                Товар                   Категория
0    Брынза (сыр из коровьего молока)  Молоко и молочные продукты
1         Йогурт натуральный. 2% жир.  Молоко и молочные продукты
2                   Кефир 3,2% жирный  Молоко и молочные продукты
3                   Кефир 1% нежирный  Молоко и молочные продукты
4                         Молоко 3,2%  Молоко и молочные продукты
..                                ...                         ...
243        Пирожное трубочка с кремом                    Сладости
244                Пирожное воздушное                    Сладости
245                           Пряники                    Сладости
246                      Торт ассорти                    Сладости
247                        Торт Прага                    Сладости

[248 rows x 2 columns]

In [87]:
# Задание.
# Прочитать файл 'names.csv',
# присвоить его содержимое переменной names
# и просмотреть содержимое.

names = pd.read_csv('names.csv', sep=',')
names

                       Категория Сокращенное название категории
0     Молоко и молочные продукты                         Молоко
1   Хлеб и хлебобулочные изделия                           Хлеб
2         Жиры, масло и маргарин                           Жиры
3                          Крупы                          Крупы
4                          Овощи                          Овощи
5                         Фрукты                         Фрукты
6                     Сухофрукты                     Сухофрукты
7                        Бобовые                        Бобовые
8                          Грибы                          Грибы
9      Мясо, птица и субпродукты                           Мясо
10                       Колбаса                        Колбаса
11  Мясные консервы и копчености                         Мясные
12                          Яйца                           Яйца
13    Рыба свежая и морепродукты                           Рыба
14                         Орехи                          Орехи
15                      Сладости                       Сладости

In [56]:
# Пример. Длина датафрейма.

print(len(countries))
print(len(continents))

13
5

In [72]:
# Задание.
# Вывести длину датафреймов items, items_categories, categories

print(len(items))
print(len(groups))
print(len(names))

248
248
16

In [60]:
# Пример. Список столбцов датафрейма.

print(countries.columns)
print(continents.columns)

Index(['Страна', 'Столица', 'Площадь', 'Население', 'Континент'], dtype='object')
Index(['Континент', 'Аббревиатура'], dtype='object')

In [73]:
# Задание. Вывести списки столбцов датафреймов items, items_categories, categories

print(items.columns)
print(groups.columns)
print(names.columns)

Index(['Товар', 'Белки', 'Жиры', 'Углеводы', 'Калорийность'], dtype='object')
Index(['Товар', 'Категория'], dtype='object')
Index(['Категория', 'Сокращенное название категории'], dtype='object')

In [84]:
# Пример. Переименовка столбцов.
print(continents.columns)
continents = continents.rename(columns = {'Континент': 'Часть света'})
print(continents.columns)

Index(['Страна', 'Континент'], dtype='object')
Index(['Страна', 'Часть света'], dtype='object')

In [88]:
# Задание. Переименовать поле 'Сокращенное название категории'
# в датафрейме names на 'Категория(сокр.)'
# Вывести список полей датафрейма names.

names = names.rename(columns={'Сокращенное название категории': 'Категория(сокр.)'})
names.columns

Index(['Категория', 'Категория(сокр.)'], dtype='object')

In [ ]:
# Пример. Добавление строки в датафрейм.
# Пример. Добавление столбца в датафрейм.
# Пример. Слияние датафреймов.